.jumbotron {
    text-align: center;
    padding: 0.5em 0.7em;
    opacity: .7;
    color: blue;
    background-color: red;
}

.btn {
    color: blue;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    font-size: 12pt;
}

body {
    background: url("../images") no-repeat top center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    text-align: center;
}


.answer:hover {
    background: greenyellow;
}

